{#
/**
 * @file
 * Default theme implementation for the basic structure of a mathematical Set.
 *
 * Variables:
 * - items_iterator: Iterates over the set items.
 * - logged_in: A flag indicating if user is logged in.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - db_offline: A flag indicating if the database is offline.
 *
 * @see template_preprocess_math_set()
 *
 * @ingroup themeable
 */
#}
<m-set {{ attributes }}>
  <!-- {{ keys }} -->
  {% for item in items_iterator %}
    {{ item }}
  {% endfor %}
</m-set>